.title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    color: var(--main-h-color);
}
// 1200px +
@media screen and (min-width: 1200px) {
    .title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--main-h-color);
        margin-bottom: 50px;
    }
}