.container {
    margin-left: 15px;
    margin-right: 15px;
}
// 480px +
@media screen and (min-width: 480px) {
    .container {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
}

// 768px +
@media screen and (min-width: 770px) {
    .container {
        width: 740px;
    }
}

// 1200px +
@media screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}