:root {
    --header-nav-color: #212121;
    --header-a-color: #757575;
    --logo-color: #2196f3;
    --main-h-color: #212121;
    --main-p-color: #757575;
    --footer-addres-color: #ffffff;
    --footer-a-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196f3;
}